# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=ln_college_voting

# Admin Dashboard Access Password
ADMIN_PASSWORD=LNcollegeadmin@987

# Secret key for admin HTTP-Only Session Cookies
JWT_SECRET=ln_college_election_2026_super_secret_key_change_me
